@model Tutorial.Web.Models.Students


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>描述</title>
</head>
<body>
    <div>
        <h1>
            @Model.username
        </h1>
        <a asp-action="Index">返回</a>
    </div>
</body>
</html>
